<html>
<head>
<title>Lessons</title>
</head>
<body>
<h1>All Lessons </h1>

<%  @lesson.each do |l|  %>
    <img src="<%=l.image_url %>" alt="alternatetext">
     <a href="/lessons/<%= l.id %>"><%= l.label %></a>
        
        <%=l.description %>
        <%=l.grade %>
        <%= l.subject %>
    
    <br><br>
    <%end%>

</body>
</html>