<html>
<head>
<title> View Lesson </title>
</head>
<body>
<% if flash[:error] %>
<h5 style="color:red;"> <%= flash[:error]%></h5>
<%end%>
<h1><%=@lesson.label %></h1>
<br>
<h3>Posted by: <a href="/users/<%=@user.id%>"><%= @user.name %></a></h3>
<h3>State Curriculum: <%= @user.state %></h3>

<p><img src="<%=@lesson.image_url %>" alt="<%=@lesson.label%>"></p>
        <ul>
        <li><%=@lesson.description %></li>
        <li><%=@lesson.grade %></li>
        <li><%= @lesson.subject %></li>
        </ul>
        <br><br>

<% if current_user_logged_in %>
<p><a href="/lessons/<%=@lesson.id%>/edit">Edit</a> this lesson</p>


<form action="/lessons/<%=@lesson.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this Lesson">
</form>
<% end %>
</body>
</hmtl>