<html>
<head>
<title> View Lesson </title>
</head>
<body>
<h1><%=@lesson.label %></h1>
<br>
<h3>Posted by: <a href="/users/<%=@user.id%>"><%= @user.name %></a></h3>
<h3>State Curriculum: <%= @user.state %></h3>

<p><img src="<%=@lesson.image_url %>" alt="<%=@lesson.label%>"></p>
        <ul>
        <li><%=@lesson.description %></li>
        <li><%=@lesson.grade %></li>
        <li><%= @lesson.subject %></li>
        </ul>
</body>
</hmtl>