<html>
<head>
<title> <%= @user.name %>'s Homepage </title>
</head>
<body>
<% if current_user_logged_in %>
<h1>Welcome, <%=@user.name %>!</h1>
<h3>View your Lesson Plans<h3>
<% else %>
<h1><%=@user.name %>'s Lesson Plans</h1>
<%end%>
<br>


<ol>
<%  @lesson.all.each do |l|  %>
    <li><img src="<%=l.image_url %>" alt="alternatetext">
        <ul>
        <li><%=l.description %></li>
        <li><%=l.grade %></li>
        <li><%= l.subject %></li>
        </ul>
    </li>
    <%end%>
</ol>

<a href="/logout">Logout</a>
</body>
</hmtl>